body {
	background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbZ0aUKt4wa2bIJAoCyGXO6xsvlA2HrCKNiA&usqp=CAU");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
}

ul {
	list-style-type: none;
	padding: 0;
}

.container {
	margin: 0 30px;
}

.line-ani1 {
	height: 5px;
	width: 100%;
	background: white;
	border: none;
	animation: line 4s infinite;
}

@keyframes line {
	0% {
		transform: scale(0, 0);
	}

	50% {
		transform: scale(1, 1);
	}

	100% {
		transform: scale(0, 0);
	}
}

.block {
	margin-top: 160px;
}

.header {
	display: flex;
	justify-content: space-between;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	border-radius: 10px;
	width: 50%;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

form {
	display: flex;
	flex-direction: column;
}

.modalForm label {
	font-weight: bold;
	margin-bottom: 5px;
}

.modalForm input,
textarea {
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.modalForm button {
	padding: 10px 20px;
	background-color: #09c3ed;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.modalForm button:hover {
	background-color: #1b869e;
}

.tovaru {
	display: flex;
	justify-content: center;
	gap: 20px;
	position: relative;
}

.tovaru-menu {
	display: none;
	z-index: 1;
}

.tovaru-menu ul {
	display: flex;
	gap: 50px;
}

.tovaru-menu img {
	align-self: stretch;
}

.tovaru>li:hover div {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 50px;
	position: absolute;
	top: 40px;
	left: 0;
	background: #333c82;
	width: 100%;
	height: 150px;
	color: black;
}

.tovaru>li:hover {
	color: Yellow;
}
@media screen and (max-width: 400px){
	.tovaru{
		flex-direction: column;
	    align-items: center;
	}
	.tovaru-menu{
		height: 100%;
		padding: 10px 0;
	}
	.tovaru-menu ul{
		flex-direction: column;
	}
	.project-content{
		flex-direction: column;
	}
	
	.shop-card {
		flex-direction: column;
	}
	
	
}

@media screen and (max-width: 590px){
	
	.footer-content {
		flex-direction: column;
	}
	.line {
		border-right:none !important;
		border-bottom: 1px solid white;
	}
	
	
	
}



.y {
	color: red;

}

.project-content {
	display: flex;
	gap: 50px;
}

.project-ret {
	flex: 30%;
}

.project-ret>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gfd {
	color: #bd1e7b;
}

.gfd:hover {
	color: #9f23a8;
}

.shop {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.shop-card {
	display: flex;
	align-items: center;
	gap: 20px;
}

.shop-card>div {
	flex: 30%;
}

.shop-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.shop-img {
	max-width: 330px;
}

.wer {
	padding: 10px 35px;
	border: 1px solid black;
	background-color: #bd1e7b;
	color: #289494;
}

.wer:hover {
	background-color: #289494;
	color: #bd1e7b;
}

.tr {
	color: Gray;
}

.shop-price {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.shop-price>a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 24px;
}

.maxWidth700 {
	max-width: 700px;
}

.geft {
	background-color: black;
	margin-top: 100px;
	height: 100%;
	position: relative;
	color: #00cbcb;
}

.line {
	border-right: 1px solid white;
}

.footer-content {
	display: flex;
	justify-content: center;
	padding: 120px 20px;
}

.gat {
	display: flex;
	padding: 100px;
}



.rag {
	padding: 75px 84px;
	display: flex;
	flex-direction: column;
	gap: 30px;

}

.as {
	width: 100px;
	height: 100px;
	padding: 0px 1px;
}

.i {
	width: 160px;
	height: 140px;

}

.rag-image{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.rag-other{
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
	text-align: center;
}

@keyframes fadeInOut {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.roman{
	color:#0c8687;
	
}